<!DOCTYPE html>
<html lang="en">
<head>
  <title>LessApp</title>
<%= stylesheet_link_tag "style.less", :rel => "stylesheet/less" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<meta charset="utf-8">


</head>



<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./index.html">Bootstrap</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">Overview</a>
              </li>
              <li class="">
                <a href="./scaffolding.html">Scaffolding</a>
              </li>
              <li class="">
                <a href="./base-css.html">Base CSS</a>
              </li>
              <li class="">
                <a href="./components.html">Components</a>
              </li>
              <li class="">
                <a href="./javascript.html">Javascript plugins</a>
              </li>
              <li class="">
                <a href="./less.html">Using LESS</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="">
                <a href="./download.html">Customize</a>
              </li>
              <li class="">
                <a href="./examples.html">Examples</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
<div class = "container">
<div class ="hero-unit">

<div>
<h2>A Less.js in Rails example</h2>
<h4>app/assets/style.less.css</h4>
<pre class="prettyprint linenums" style="margin-bottom: 9px;">
<ol class="linenums">
<li class="L1"><span class="pln">@import "bootstrap.less";</span></li>
<li class="L2"><span class="pln">@linkColor = red;</span></li>
<li class="L3"><span class="pln">.hero-unit{ background-color: #000; } </span></li>
<li class="L4"><span class="pln">h2,p{ color: red; }</span></li>
</ol>
</pre>
</div>
<div>
<a href = "#" class ="btn btn-primary">A red color button</a>
</div>
</div>
<div class ="span8">
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
	  <div class="item active">
		<img src="http://www.top1mmo.com/images/call-of-gods-pop-up-800-440.jpg" alt="">
		<div class="carousel-caption">
		  <h4>First Thumbnail label</h4>
		  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		</div>
	  </div>
	  <div class="item ">
		<img src="http://placehold.it/800x440" alt="">
		<div class="carousel-caption">
		  <h4>Third Thumbnail label</h4>
		  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
		</div>
	  </div>
	</div>
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
<script>  
$(function ()  
{ $('.carousel').carousel({interval: 1000})});  
</script> 
		  
<%= yield %>
</div>
</div>
</body>

</html>
